button{
    display: block;
    margin: 20px 0;
}

.sombra{
    box-shadow: 0px 0px 10px gray;
}

.linha{
    text-decoration: underline;
    text-decoration-color: rgb(253, 2, 136);
    text-decoration-thickness: 3px;
}

.sem{
    background-color: rgba(248, 74, 100, 0.692);
}

.sem:hover{
    background-color: rgb(255, 2, 128);
}

.transition{
    background-color: rgba(248, 74, 100, 0.692);
    transition: background-color 2s ease;
}

.transition:hover{
    background-color: rgb(252, 3, 127);
}

img {
    width: 200px;
    transition: width 3s;
}
img:hover {
    width: 400px;
}