body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.container {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.bola {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    border-radius: 360px;
    margin: 20px;
    transition: transform 5s;
}

.container:hover .bola {
    transform: translateX(300px);
}

.ease {
    transition-timing-function: ease;
    /* Devagar, acelera, devagar */
}

.linear {
    transition-timing-function: linear;
    /* devegar, acelera */
}

.ease-in{
    transition-timing-function: ease-in;
    /* rapido, devagar */
}

.ease-out{
    transition-timing-function: ease-out;
    /* devagar, rapido */
}