h1 {
    color: #eb1a1a;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

img {
    width: 500px;
    height: 500px;
    
}

section {
    text-align: center;
}

p {
    color: #0f0f0f;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15x;
    text-decoration: dashed;
    text-align: center;
}

h2 {
    text-align: center;
    color: #050505;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
     color: #ffd49c;
     text-align: center;
}