body {
  text-align: center;
  margin-top: 50px;
  font-family: Arial, sans-serif;
}

a {
  display: block;
  margin: 10px;
  text-decoration: none;
  color: rgb(248, 7, 156);
}
.voltar {
display: flex;
text-align: center;
text-decoration: none;
color: rgb(253, 126, 253);
}